{% extends 'base.html.twig' %}

{% block title %}Connection{% endblock %}

{% block body %}
<div class="filter">
    <div class="headForm">
        <h1>M.L.M.D</h1>
        <p>Gardez un oeil de votre corp !</p>
    </div>

    <form class="formLog" method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}


        {% if app.user %}
            <p>
                Vous êtes déjà connecté avec : <span>{{ app.user.email }}</span>, </br><a href="{{ path('app_logout') }}">Se Déconnecter<i class="fa-solid fa-door-open"></i></a>
            </p>
        {% endif %}


        <label class="labelLog" for="inputEmail">Email :</label>
        <input class="inputLog" type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
        <label class="labelLog" for="inputPassword">Mot de passe :</label>
        <input class="inputLog" type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

        <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
        >

        {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
        #}

        <button class="btnLog" type="submit">
            Se Connecter
        </button>

        <a class="rLink mobile"href="{{ path('newAccount') }}">Inscritpion<i class="fa-solid fa-pencil"></i></a>
    </form>
</div>

{% endblock %}
