

{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<div class="filter">
    <div class="formRegister">
    
        <div class="headForm">
            <h1>Bienvenue !</h1>
            <p>N'hésitez plus, rejoignez nôtre communauté !</p>
        </div>
        {{ form_start(registrationForm) }}
        
            {{ form_row(registrationForm.name, {
                label: 'Nom :'
            }) }}
            {{ form_row(registrationForm.username, {
                label: 'Prénom :'
            }) }}
            {{ form_row(registrationForm.age, {
                label: 'Age :'
            }) }}
            {{ form_row(registrationForm.email, {
                label: 'Email :'
            }) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Mot de passe :'
            }) }}
            {# {{ form_row(registrationForm.agreeTerms) }} #}
            
            <button type="submit" class="btnLog">S'inscrire</button>
  
        {{ form_end(registrationForm) }}
    </div>
</div>
{% endblock %} 
