<form method="post" action="{{ path('deleteAccount', {'id': user.id}) }}" onsubmit="return confirm('ête vous sure ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button class="btnProfile">supprimer le compte</button>
</form>
