  
  
  {{ form_start(formBc) }}
        <div class="calculateForm">
            {{ form_row(formBc.sexe, {
                label: 'Indiquez votre sexe :'
            }) }}
            {{ form_row(formBc.height, {
                label: 'Indiquez votre taille (M):'
            }) }}
         
            {{ form_row(formBc.weight, {
                label: 'Indiquez votre poids (Kg):'
            }) }}

            {{ form_row(formBc.activity, {
                label: "Niveau d'activitée :"
            }) }}
          
            <div class="row">
                <button type="submit" class="calculateBtn"><i class="fa-solid fa-bullseye"></i></button>
                <p>Calculer</p>
            </div>
        </div>
    {{ form_end(formBc) }}
        <div class="resultDiv">
            <span> Vous avez besoin de :</span>
            <p>{{ data_bc.bc }}Kcal/J</p>
        </div>
          