

      {{ form_start(formImc) }}
        <div class="calculateForm">
          
            {{ form_row(formImc.height, {
                label: 'Indiquez votre taille (M):'
            }) }}
            {{ form_row(formImc.weight, {
                label: 'Indiquez votre poids (Kg):'
            }) }}
           
          
            <div class="row">
                <button type="submit" class="calculateBtn"><i class="fa-solid fa-bullseye"></i></button>
                <p>Calculer</p>
            </div>
        </div>
    {{ form_end(formImc) }}
        <div class="resultDiv">
            <span> Votre IMC est de :</span>
            <p>{{ data_imc.imc }}Kg/m2</p>
        </div>
          