{% extends 'base.html.twig' %} 

{% block title %}Vôtre Profile{% endblock %} 

{% block body %}

<div class="container">
    <div class="card">
        <div class="headCard">
            <h2 class="t1">Informations</h2>
            <div class="cube">
                <div class="inCube"><i class="fa-solid fa-id-card-clip"></i></div>
            </div>
        </div>
        <div class="bodyCard1">
            {{ include('global/info_form.html.twig') }}
            {{ include('global/_delete_form.html.twig') }}
        </div>
    </div>

    <div class="card">
        <div class="headCard">
            <h2 class="t2">Calculateur d'IMC</h2>
            <div class="cube">
                <div class="inCube"><i class="fa-solid fa-chart-column"></i></div>
            </div>
        </div>
        <div class="bodyCard2">
            {{ include('global/imc_form.html.twig') }}
        </div>
    </div>

    <div class="card">
        <div class="headCard">
            <h2 class="t3">Besoins Caloriques</h2>
            <div class="cube">
                <div class="inCube"><i class="fa-solid fa-chart-pie"></i></div>
            </div>
        </div>
        <div class="bodyCard3">
            {{ include('global/bc_form.html.twig') }}
        </div>
    </div>
</div>

<div class="tabDiv">
    <div class="headTab">
        <h2 class="t4">Vos 5 derniers Résultats</h2>
        <div class="cube">
            <div class="inCube"><i class="fa-solid fa-box-archive"></i></div>
        </div>
    </div>
    <div class="bodyTab">

        {% for elem in imcList %}
        <div class="line">
            <p>{{elem.calculate_date|date('Y-m-d ')}}</p>
            <p><span>IMC </span>{{elem.imc}} Kg/m2</p>
            <p><span>Taille </span>{{elem.height}} M</p>
            <p><span>Poids </span>{{elem.weight}} Kg</p>
            <p><span>Age </span>{{elem.user.age}} Ans</p>
        </div>
        {% endfor %}
        <hr>
        {% for elem in bcList %}
        <div class="line">
            <p>{{elem.calculate_date|date('Y-m-d ')}}</p>
            <p><span>BC </span>{{elem.bc}} Kcal/J</p>
            <p><span>Taille </span>{{elem.height}} M</p>
            <p><span>Poids </span>{{elem.weight}} Kg</p>
            <p><span>Age </span>{{elem.user.age}} Ans</p>
        </div>
        {% endfor %}
    
    </div>
</div>

<div id="callToAction">
    <i id="iSwitch"class="fa-solid fa-bell-slash"></i>
    <p class="fade">{{ ctaString }}</p>
    <button class="fade"><div class="btnText">Prenez RDV maintenant !</div></button>
</div>

{% endblock %}
