

      {{ form_start(form) }}
        <div class="formProfile">
            {{ form_row(form.name, {
                label: 'Nom :'
            }) }}
            {{ form_row(form.username, {
                label: 'Prénom :'
            }) }}
            {{ form_row(form.age, {
                label: 'Age :'
            }) }}
            {{ form_row(form.email, {
                label: 'Email :'
            }) }}
            {{ form_row(form.plainPassword, {
                label: 'Mot de passe :'
            }) }}
         
            
            <button type="submit" class="btnProfile">Modifier <i class="fa-solid fa-pen-to-square"></i></button>
        </div>
    {{ form_end(form) }}

