{% extends 'base.html.twig' %}

{% block title %}Edit DataImc{% endblock %}

{% block body %}
    <h1>Edit DataImc</h1>

    {{ include('data_imc/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_data_imc_index') }}">back to list</a>

    {{ include('data_imc/_delete_form.html.twig') }}
{% endblock %}
