{% extends 'base.html.twig' %}

{% block title %}DataImc index{% endblock %}

{% block body %}
    <h1>DataImc index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Sexe</th>
                <th>Height</th>
                <th>Weight</th>
                <th>Calculate_date</th>
                <th>Imc</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for data_imc in data_imcs %}
            <tr>
                <td>{{ data_imc.id }}</td>
                <td>{{ data_imc.sexe }}</td>
                <td>{{ data_imc.height }}</td>
                <td>{{ data_imc.weight }}</td>
                <td>{{ data_imc.calculateDate ? data_imc.calculateDate|date('Y-m-d') : '' }}</td>
                <td>{{ data_imc.imc }}</td>
                <td>
                    <a href="{{ path('app_data_imc_show', {'id': data_imc.id}) }}">show</a>
                    <a href="{{ path('app_data_imc_edit', {'id': data_imc.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_data_imc_new') }}">Create new</a>
{% endblock %}
