{% extends 'base.html.twig' %}

{% block title %}New DataImc{% endblock %}

{% block body %}
    <h1>Create new DataImc</h1>

    {{ include('data_imc/_form.html.twig') }}

    <a href="{{ path('app_data_imc_index') }}">back to list</a>
{% endblock %}
