{% extends 'base.html.twig' %}

{% block title %}DataImc{% endblock %}

{% block body %}
    <h1>DataImc</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ data_imc.id }}</td>
            </tr>
            <tr>
                <th>Sexe</th>
                <td>{{ data_imc.sexe }}</td>
            </tr>
            <tr>
                <th>Height</th>
                <td>{{ data_imc.height }}</td>
            </tr>
            <tr>
                <th>Weight</th>
                <td>{{ data_imc.weight }}</td>
            </tr>
            <tr>
                <th>Calculate_date</th>
                <td>{{ data_imc.calculateDate ? data_imc.calculateDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Imc</th>
                <td>{{ data_imc.imc }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_data_imc_index') }}">back to list</a>

    <a href="{{ path('app_data_imc_edit', {'id': data_imc.id}) }}">edit</a>

    {{ include('data_imc/_delete_form.html.twig') }}
{% endblock %}
