<header>
  <div class="navDiv">
    <div class="menuMobile">
      <div class="a-header">
          <input type="checkbox" name="main-nav" id="main-nav" class="burger-check">
          <label for="main-nav" class="burger menu"><span></span></label>
          <ul>
              <li><a href="{{ path('loghome') }}">Acceuil<i class="fa-solid fa-house-chimney"></i></a></li>
              <li><a href="{{ path('profile') }}">Profile<i class="fa-solid fa-user"></i></a></li>
              <li><a href="{{ path('newAccount') }}">Inscritpion<i class="fa-solid fa-pencil"></i></a></li>
          </ul>
      </div>
    </div>
    <div class="menuDesktop">
      <nav>
        <ul>
          <li>
            <a href="{{ path('loghome') }}">Acceuil<i class="fa-solid fa-house-chimney"></i></a>
          </li>
          <li>
            <a href="{{ path('profile') }}">Profile<i class="fa-solid fa-user"></i></a>
          </li>
          <li>
            <a href="{{ path('newAccount') }}">Inscritpion<i class="fa-solid fa-pencil"></i></a>
          </li>
        </ul>
      </nav>
      <p class="navText">Avec My Life My Diet, gardez un oeil de votre corp !</p>
    </div>
    <img id="logo" src="{{ asset('assets/img/logomlmd.png') }}" alt="logo" width="150" height="150" />
  </div>
</header>

