:root {
  --color1: #d9d9d9;
  --color2: #2f2f2f;
  --color3: #f6f6f6;
  --font-1: "Josefin Sans", sans-serif;
  --font-2: "Josefin Slab", serif;
}

/* ____________________________________________________________ GLOBAL */
body {
  margin: 0;
  padding: 0;
  background: center/cover no-repeat url("../img/mlmdBackScreen.webp");
}

.row {
  align-items: center;
  justify-content: center;
  flex-direction: row !important;
}

.menuMobile {
  width: 50%;
  display: none;
}

.mobile {
  display: none !important;
}

i {
  margin: 10px;
}

header {
  height: 12vh;
  width: 100%;
  display: flex;
  align-items: center;
}

h1 {
  margin: 0;
  padding: 20px;
  font-family: var(--font-1);
  color: var(--color2);
  font-size: 2rem;
}

p {
  margin: 0;
  padding: 10px;
  font-family: var(--font-1);
  color: var(--color2);
  font-size: 1rem;
}

main {
  overflow: hidden;
  position: relative;
  margin: 0;
  min-height: 69vh;
}

#imgScreen {
  position: absolute;
  z-index: -1;
  height: 100%;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
}

.resultDiv {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
}

.line {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--color1);
  padding: 5px;
  width: 100%;
  margin: 5px 0;
}

footer {
  height: 12vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  background: rgb(217, 217, 217);
  background: linear-gradient(
    0deg,
    rgba(217, 217, 217, 1) 33%,
    rgba(0, 0, 0, 0) 100%
  );
}

nav ul {
  display: flex;
  list-style: none;
  padding: 0px;
  margin: 0;
  margin-left: 10px;
}

li {
  z-index: 2;
  padding: 0px 20px;
  font-family: var(--font-1);
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: var(--color2);
}

a:hover {
  border-bottom: 1px solid var(--color2);
}

span {
  font-family: var(--font-2);
  font-size: 1.2rem;
}

.filter {
  background-color: rgba(255, 255, 255, 0.705);
}

/* ____________________________________________________________ HEADER */
.navMobile {
  display: none;
}

.navDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0;
  background: rgb(217, 217, 217);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 33%,
    rgba(217, 217, 217, 1) 100%
  );
}

#logo {
  z-index: 4;
  margin-right: 30px;

  border-radius: 50%;
  overflow: hidden;
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -10px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.navText {
  margin-left: 50px;
  font-family: var(--font-2);
  font-size: 1.3rem;
}
