/* ____________________________________________________________   MAIN */
/* ---------------------------------- Acceuil --------- */
.headForm {
  margin: 80px 0 30px 0;
  text-align: center;
}

.headForm p {
  width: 100%;
  font-size: 1.5rem;
}

.formLog {
  width: 30%;
  margin: 0px auto;
  margin-bottom: 60px;
  padding: 10px;
}

.formLog p {
  font-size: 1.3rem;
}

.labelLog {
  padding: 5px;
  font-family: var(--font-1);
  font-size: 1.5rem;
}

.inputLog {
  height: 40px;
  border: 2px solid var(--color2);
  border-radius: 5px;
  font-family: var(--font-2);
  font-size: 1.2rem;
  padding-left: 10px;
}

.btnLog {
  margin: 15px auto;
  margin-top: 35px;
  width: 60%;
  border: none;
  border-radius: 50px;
  background-color: var(--color1);
  text-align: center;
  font-family: var(--font-1);
  font-size: 1rem;
  padding: 10px;
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -10px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  transition: 0.2s;
}

.btnLog:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.rLink {
  text-align: center;
  font-family: var(--font-1);
  color: var(--color2);
  font-size: 1rem;
  border: none !important;
}

/* ---------------------------------- Profile --------- */
.container {
  margin: 100px 0;
  display: flex;
  justify-content: space-around;
}

.card {
  width: 20%;
}

.tabDiv {
  margin: 0 auto;
  margin-bottom: 100px;
  border: 1px solid rgba(0, 0, 0, 0.199);
  width: 80%;
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -10px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.headCard,
.headTab {
  position: relative;
  width: 100%;
  font-family: var(--font-2);
  font-size: 1.2rem;
}

.t1 {
  background-color: #33b257;
  font-family: var(--font-2);
  font-size: 1.2rem;
  padding: 10px;
  margin: 0;
  color: whitesmoke;
}

.t2 {
  background-color: #337db2;
  font-family: var(--font-2);
  font-size: 1.2rem;
  padding: 10px;
  margin: 0;
  color: whitesmoke;
}

.t3 {
  background-color: #b23333;
  font-family: var(--font-2);
  font-size: 1.2rem;
  padding: 10px;
  margin: 0;
  color: whitesmoke;
}

.t4 {
  background-color: #c73db9;
  font-family: var(--font-2);
  font-size: 1.2rem;
  padding: 10px;
  margin: 0;
  color: whitesmoke;
}

.cube {
  z-index: 2;
  position: absolute;
  right: 20px;
  bottom: 0px;
  height: 70px;
  width: 70px;
  transform: translateY(50%);
}

.inCube {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(45deg) scale(0.75);
  background-color: var(--color1);
}

.inCube i {
  transform: rotate(-45deg) scale(1.5);
  color: var(--color2);
}

.bodyCard1,
.bodyCard2,
.bodyCard3,
.bodyTab {
  background-color: var(--color3);
  filter: opacity(90%);
  border: 1px solid rgba(0, 0, 0, 0.199);
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -10px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  overflow: hidden;
}

.formProfile,
.calculateForm {
  margin: 20px auto;
  width: 80%;
}

.formProfile div,
.calculateForm div {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.formProfile label {
  color: #2f2f2f00;
  height: 1px;
}

.calculateForm label {
  font-family: var(--font-2);
  font-size: 1.2rem;
}

.calculateBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: none;
  height: 50px;
  width: 50px;
  background-color: var(--color1);
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -10px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  transition: 0.2s;
}

.calculateBtn:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.calculateBtn i {
  transform: scale(2);
}

.formProfile input,
.calculateForm input {
  height: 30px;
  border: none;
  border-bottom: 1px solid var(--color2);
  font-family: var(--font-1);
  font-size: 1.2rem;
  padding-left: 10px;
  background-color: rgba(245, 245, 245, 0);
}

.calculateForm select {
  height: 30px;
  margin-top: 10px;
  font-size: 1.1rem;
}

.btnProfile {
  display: block;
  margin-left: 40%;
  margin-top: 35px;
  width: 60%;
  border: none;
  background-color: var(--color1);
  text-align: center;
  font-family: var(--font-1);
  font-size: 1rem;
  padding: 0px;
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -10px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  transition: 0.2s;
}

.btnProfile:hover {
  cursor: pointer;
  transform: scale(1.1);
}

#callToAction {
  z-index: 2;
  position: fixed;
  bottom: 12vh;
  display: flex;
  align-items: center;
  background-color: var(--color2);
  height: 70px;
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -10px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  transform: skewX(-30deg) translateX(-5%);
  transition: 0.2s;
}

#iSwitch {
  flex: 1;
  cursor: pointer;
  color: whitesmoke;
  margin-left: 10%;
  transform: skewX(30deg);
}

#callToAction p {
  flex: 4;
  font-family: var(--font-1);
  font-size: 1.2rem;
  margin: 0 30px;
  color: whitesmoke;
  transform: skewX(30deg);
}

#callToAction button {
  width: 150px;
  cursor: pointer;
  margin-right: 5px;
  border: none;
  background-color: whitesmoke;
  color: var(--color2);
  height: 90%;
}

.btnText {
  width: 90%;
  font-family: var(--font-1);
  font-size: 1.2rem;
  color: var(--color2);
  transform: skewX(30deg) translateX(5px);
}

/* ------------------------------ Inscription --------- */
.formRegister {
  margin: 60px auto;
  width: 30%;
  padding: 10px;
}

.formRegister div {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.formRegister label {
  padding: 5px;
  font-family: var(--font-1);
  font-size: 1.2rem;
}

.formRegister input {
  height: 30px;
  border: 2px solid var(--color2);
  border-radius: 5px;
  font-family: var(--font-2);
  font-size: 1rem;
  padding-left: 10px;
}

.formRegister button {
  display: block;
}

/* ____________________________________________________________ FOOTER */

/* ________________________________________________________ RESPONSIVE */
@media (max-width: 1200px) {
  .card {
    width: 30%;
  }
}

@media (max-width: 800px) {
  .scroll {
    overflow: auto;
    height: 100vh;
  }

  .menuDesktop {
    display: none;
  }

  .menuMobile {
    display: block;
  }

  .formLog,
  .formRegister {
    width: 80%;
  }

  .container {
    flex-direction: column !important;
  }

  .card {
    width: 80%;
    margin: 40px auto;
  }

  .calculateForm label {
    font-size: 1.5rem;
  }

  .calculateBtn {
    height: 70px;
    width: 70px;
  }

  .calculateBtn i {
    transform: scale(3);
  }

  .formProfile input,
  .calculateForm input {
    height: 50px;
    font-size: 1.5rem;
  }

  .calculateForm select {
    height: 45px;
    font-size: 1.3rem;
  }

  .btnProfile {
    font-size: 1.3rem;
  }

  .resultDiv p,
  .resultDiv span,
  .row p {
    font-size: 1.5rem;
  }

  #callToAction {
    padding-top: 25px;
  }

  #iSwitch {
    flex: 0.5;
  }

  #callToAction p {
    margin: 0;
  }

  #callToAction button {
    position: absolute;
    top: -35%;
    height: 60px;
  }
}
