<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}M.L.M.D{% endblock %}</title>
        
         <!-- Icon -->
        <link rel="icon" type="image/png" href="{{ asset('assets/img/runi.png') }}">
        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">

        <!-- FontAwesome-->
        <script src="https://kit.fontawesome.com/2ce4f89b76.js"crossorigin="anonymous"></script>
        <!-- Style CSS -->
        <link href="{{ asset('assets/css/global.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/css/menubg.css') }}" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block stylesheets %}{% endblock %}

    </head>
    <body>
        <div class="scroll">
            {% include "footheader/header.html.twig" %}

            <main>
    
            {% block body %}{% endblock %}
            </main>

            {% include "footheader/footer.html.twig" %}
        </div>
        <script src="{{ asset('assets/js/script.js') }}"crossorigin="anonymous"></script>
    </body>
</html>
