<form method="post" action="{{ path('app_data_bc_delete', {'id': data_bc.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ data_bc.id) }}">
    <button class="btn">Delete</button>
</form>
