{% extends 'base.html.twig' %}

{% block title %}Edit DataBc{% endblock %}

{% block body %}
    <h1>Edit DataBc</h1>

    {{ include('data_bc/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_data_bc_index') }}">back to list</a>

    {{ include('data_bc/_delete_form.html.twig') }}
{% endblock %}
