{% extends 'base.html.twig' %}

{% block title %}DataBc index{% endblock %}

{% block body %}
    <h1>DataBc index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Sexe</th>
                <th>Height</th>
                <th>Weight</th>
                <th>Calculate_date</th>
                <th>Activity</th>
                <th>Bc</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for data_bc in data_bcs %}
            <tr>
                <td>{{ data_bc.id }}</td>
                <td>{{ data_bc.sexe }}</td>
                <td>{{ data_bc.height }}</td>
                <td>{{ data_bc.weight }}</td>
                <td>{{ data_bc.calculateDate ? data_bc.calculateDate|date('Y-m-d') : '' }}</td>
                <td>{{ data_bc.activity }}</td>
                <td>{{ data_bc.bc }}</td>
                <td>
                    <a href="{{ path('app_data_bc_show', {'id': data_bc.id}) }}">show</a>
                    <a href="{{ path('app_data_bc_edit', {'id': data_bc.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_data_bc_new') }}">Create new</a>
{% endblock %}
