{% extends 'base.html.twig' %}

{% block title %}New DataBc{% endblock %}

{% block body %}
    <h1>Create new DataBc</h1>

    {{ include('data_bc/_form.html.twig') }}

    <a href="{{ path('app_data_bc_index') }}">back to list</a>
{% endblock %}
