{% extends 'base.html.twig' %}

{% block title %}DataBc{% endblock %}

{% block body %}
    <h1>DataBc</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ data_bc.id }}</td>
            </tr>
            <tr>
                <th>Sexe</th>
                <td>{{ data_bc.sexe }}</td>
            </tr>
            <tr>
                <th>Height</th>
                <td>{{ data_bc.height }}</td>
            </tr>
            <tr>
                <th>Weight</th>
                <td>{{ data_bc.weight }}</td>
            </tr>
            <tr>
                <th>Calculate_date</th>
                <td>{{ data_bc.calculateDate ? data_bc.calculateDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Activity</th>
                <td>{{ data_bc.activity }}</td>
            </tr>
            <tr>
                <th>Bc</th>
                <td>{{ data_bc.bc }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_data_bc_index') }}">back to list</a>

    <a href="{{ path('app_data_bc_edit', {'id': data_bc.id}) }}">edit</a>

    {{ include('data_bc/_delete_form.html.twig') }}
{% endblock %}
